.auth-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
}
.left {
    background-color: palegreen;
    width: 50%;
    height: 100vh;
}
.right{
    padding: 100px;
    text-align: center;
    width: calc(50% - 200px);
}
.right .header {
    margin: 100px 0;
    font-size: 2.5rem;
}
.right .sub-header {
    font-size: 1.5rem;
    color: darkgray;
}
.sign-in-wrapper .input-wrapper {
 text-align: left;
 margin:  20px auto;
}
.sign-in-wrapper .input-wrapper:first-child {
    margin-top: 200px;
}
.btn{
    margin-top: 40px;
    font-size: 1.1rem !important;
    width: 100% !important;
}
.new{
    margin-top: 50px;
    cursor: pointer;
    color: rgb(148,148,148);
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left img {
    width: 60%;
    height: auto;
}
.input {
    border: 1px solid darkgrey;
    font-size: 1em;
    color: darkgray;
    padding: 15px;
    padding-left: 10px;
    outline: none;
}
.btn{
    background-color: darkblue;
    color: white;
    font-size: .9rem;
    width: fit-content;
    padding: 15px 20px;
    cursor: pointer;
    margin-left: auto;
    border-radius: 30px;
}
